.nav{
	width: 100%;
 	height: 52px;
/*	background: #f6f6f6;*/
/*	border-bottom: 1px solid #ececec;*/
	line-height: 52px;

}
.nav_center{
	width: 1200px;
 	height: 52px;
/*	background: #f6f6f6;*/
/*	border-bottom: 1px solid #ececec;*/
	line-height: 52px;
	margin: 0 auto;

}
.nav_center.sousuo{
	margin-left: 200px;
	background-image: url(../image/fdj.jpg);
	background-repeat: no-repeat;
	background-position: 152px center;
}
.nav_center span{
	font-size: 12px;
	font-family: PingFang;
	color: #bfbfbe;
	float: right;
}
.nav_center img{
	float: right;
	margin-left: 40px;
	margin-top: 12px;
}
.Box{
	width: 1200px;
 	height: 235px;
/*	border-bottom: 1px solid #ececec;*/
/*	background: red;*/
	margin: 0 auto;
	background-image: url(../image/1.jpg);
	background-repeat: no-repeat;
	background-position: center center
}


.DAOHANG{
	width: 100%;
	height: 94px;
	background: #edecec;
	margin: 0 auto;
/*	border: 1px solid #000;*/
}
.neikuan{
	width: 1200px;
	height: 94px;
	/*background: blue;*/
	margin: 0 auto;
	line-height: 94px;
}
.aa{
	width: 200px;
	height: 94px;
/*	background: yellow;*/
	float: left;
	text-align: center;
	
}
.aa:hover{
	height: 86px;
	border-bottom:4px solid #edaf4a;
	border-top:4px solid #edaf4a;
	font-weight: bold;
}
.aa span{
	color: #616060;
	font-size: 24px;
	font-family: pingfang;
}


.Box1{
	width: 100%;
	height: 750px;
	border: 1px solid #000;
	margin: 0 auto;
}
.BB{
	width: 100%;
	height: 750px;
	background: black;
	margin: 0 auto;
	/*position: absolute;*/
}
.BB img{
	width: 100%;
	height: 750px;
	background-size: 1920px auto;
}


.Box2{
	width: 1200px;
	height: 282px;
	/*border: 1px solid #000;*/
	/*background: black;*/
	margin: 0 auto;
}

.mbx{
	width: 1200px;
	height: 117px;
	/*background: pink;*/	
}

.m1{
	width: 40px;
	height: 50px;
	float: left;
	line-height: 30px;
	margin-left: 20px;
	margin-top: 20px;
}
.XYDA{
	/*width: 40px;*/
	height: 50px;
	float: left;
	line-height: 30px;
	margin-left: 20px;
	margin-top: 30px;
}
.xyd{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #312626;
}
.m2{
	width: 85px;
	height: 50px;
	float: left;
	line-height: 30px;
	margin-top: 20px;
	margin-left: 20px;

}
.ziti{
	font-size: 12px;
	font-family: Georgia;
	color: #857766;
	font-weight: bold;
}
.ziti1{
	font-size: 20px;
	font-family: pingfang;
	color: #857766;	
}
.ziti2{
	font-size: 12px;
	font-family: Georgia;
	color: #000;
	font-weight: bold;
	margin-left: 20px;
}
.ziti3{
	font-size: 20px;
	font-family: pingfang;
	color: #d08c1e;	
}



.mbx2{
	width: 1200px;
	height: 167px;
	/*background: blue;	*/
}
.m3{
	width: 430px;
	height: 164px;
/*	background: yellow;	*/
	margin: 0 auto;
}
.jj{
	width: 430px;
	height: 50px;
	line-height: 125px;

}
.ziti4{
	font-size: 36px;
	font-family: Georgia;
	color: #000;
	font-weight: bold;
	text-align: center;
}
.ziti5{
	font-size: 24px;
	font-family: pingfang;
	color: #d08c1e;
	text-align: center;
}
.jj1{
	line-height: 150px;
}


.Box3{
	width: 100%;
	height: 376px; 
	/*border: 1px solid #000;*/
	margin: 0 auto;
	background-size: cover;
}
.zyk1{
	width: 50%;
	height:376px;
	float: left;
	background-image: url(../image/mbt.jpg);
	background-repeat: no-repeat; 
	background-position:center center;
	background-size: 100% auto;
	background-size: cover;
	
}
.zyk2{
	width: 600px;
	height:376px;
	float: left;
}
.xwz{
	height: 140px;
	text-align: center;
	line-height: 220px;
}
.wenzi1{
	font-size: 36px;
	font-family: pingfang;
	color: #424242;
	font-weight: bold;
	margin-right: 10px;
}
.wenzi2{
	font-size: 26px;
	font-family: Georgia;
	color: #424242;
	font-weight: bold;
}
.wenzi3{
	height: 30px;
	font-size: 24px;
	font-family: pingfang;
	color: #bf952e;
	text-align: center;
	font-weight: bold;
}
.wenzi4{
	height: 30px;
	font-size: 16px;
	font-family: pingfang;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}
.wenzi5{
	height: 30px;
	font-size: 12px;
	font-family: Georgia;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}



.Box4{
	width: 1200px;
	height: 372px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
}
.in{
	width: 600px;
	height: 372px;
	/*background: pink;*/
	float: left;
}
.in1{
	height: 500px;
	background: #1e1c1a;
}
.in2{
	background: blue;
	background-image: url(../image/msp.jpg);
	background-repeat: no-repeat; 
	background-position:center center;
}

.wenzi6{
	font-size: 36px;
	font-family: pingfang;
	color: #fff;
	font-weight: bold;
	margin-right: 10px;
}
.wenzi7{
	font-size: 26px;
	font-family: Georgia;
	color: #fff;
	font-weight: bold;
}
.wenzi8{
	height: 30px;
	font-size: 24px;
	font-family: pingfang;
	color: #bf952e;
	text-align: center;
	font-weight: bold;
}
.wenzi9{
	height: 30px;
	font-size: 16px;
	font-family: pingfang;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}
.wenzi10{
	height: 30px;
	font-size: 12px;
	font-family: Georgia;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}



.Box5{
	width: 1200px;
	height: 370px;
/*	border: 1px solid #000;*/
	margin: 0 auto;
}
.nr{
	width: 960px;
	height: 370px;
	/*background: pink;*/
	float: right;
	margin-top: -124px;
}
.kuai1{
	width: 360px;
	height: 370px;
	background: #1e1c1a;
	float: left;
	background-image: url(../image/nvde.jpg);
	background-repeat: no-repeat; 
	background-position:center center;
}
.kuai2{
	width: 600px;
	height: 370px;
/*	background: yellow;*/
	float: left;
}

.wenzi11{
	font-size: 36px;
	font-family: pingfang;
	color: #424242;
	font-weight: bold;
	margin-right: 10px;
}
.wenzi12{
	font-size: 26px;
	font-family: Georgia;
	color: #424242;
	font-weight: bold;
}
.wenzi13{
	height: 30px;
	font-size: 24px;
	font-family: pingfang;
	color: #bf952e;
	text-align: center;
	font-weight: bold;
}
.wenzi14{
	height: 30px;
	font-size: 16px;
	font-family: pingfang;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}
.wenzi15{
	height: 30px;
	font-size: 12px;
	font-family: Georgia;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}


.Box6{
	width: 100%;
	height: 410px; 
/*	border: 1px solid #000;*/
	margin: 0 auto;
	background-size: cover;

}
.dhz{
	width: 1200px;
	height: 410px;
	margin: 0 auto;
	/*background: pink;*/
}

.yt{
	width: 50%;
	/*height:410px;*/
	height:293px;
	background: black;
	float: right;
	background-image: url(../image/qkl.jpg);
	background-repeat: no-repeat; 
	background-position:center center;
	background-size: 100% auto;
	background-size: cover;
}
.zz{
	width: 600px;
	height: 410px;
	/*background: pink;*/
	float: right;
}


.wenzi16{
	font-size: 36px;
	font-family: pingfang;
	color: #424242;
	font-weight: bold;
	margin-right: 10px;
}
.wenzi17{
	font-size: 26px;
	font-family: Georgia;
	color: #424242;
	font-weight: bold;
}
.wenzi18{
	height: 30px;
	font-size: 24px;
	font-family: pingfang;
	color: #bf952e;
	text-align: center;
	font-weight: bold;
}
.wenzi19{
	height: 30px;
	font-size: 16px;
	font-family: pingfang;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}
.wenzi20{
	height: 30px;
	font-size: 12px;
	font-family: Georgia;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}


.Box7{
	width: 1200px;
	height: 750px;
/*	border: 1px solid #000;*/
	margin: 0 auto;
}
.youtu{
	width: 716px;
	height: 616px;
	/*background: red;*/
	float: left;
	background-image: url(../image/zmbb.jpg);
	background-repeat: no-repeat; 
	background-position:center center;
}
.zuozi{
	width: 484px;
	height: 620px;
	/*background: blue;*/
	float: left;
}
.wenzi21{
	font-size: 36px;
	font-family: pingfang;
	color: #424242;
	font-weight: bold;
	margin-right: 10px;
}
.wenzi22{
	font-size: 26px;
	font-family: Georgia;
	color: #424242;
	font-weight: bold;
}
.wenzi23{
	height: 30px;
	font-size: 24px;
	font-family: pingfang;
	color: #bf952e;
	text-align: center;
	font-weight: bold;
}
.wenzi24{
	height: 30px;
	font-size: 16px;
	font-family: pingfang;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}
.wenzi25{
	height: 30px;
	font-size: 12px;
	font-family: Georgia;
	color: #858383;
	text-align: center;
	font-weight: bold;
	margin-top: 35px;
}





.Foot{
	width: 100%;
	height: 537px;
	background: #191613;
	margin: 0 auto;
}
.fn{
	width: 1200px;
	height: 537px;
	margin: 0 auto;
}
.fx{
	width: 1200px;
	height: 70px;
	background-image: url(../image/fx.jpg);
	background-repeat: no-repeat; 
	background-position:center center;
}
.fz{
	width: 359px;
	height: 415px;
	float: left;
}

.ff1{
	width: 359px;
	height: 170px;
}

.oe1{
	width: 140px;
	height: 170px;
	float: left;
}
.cubt{
	font-size: 16px;
	font-family:pingfang;
	color: #3b342d;
	font-weight: bold 
}

.xubt{
	margin-top: 20px;
	color: #3b342d;
}

.oe2{
	width: 127px;
	height: 170px;
	float: left;
}
.oe3{
	width: 92px;
	height: 170px;
	float: left;
}


.ff3{
	margin-top: 37px;
}

.hh{
	margin-top: 10px;
	margin-bottom: 10px;
}


.fy{
	width: 459px;
	height: 415px;
	float: right;
}

.nm{
	width: 217px;
	height: 43px;
	background: #191613;
	font-size: 12px;
	color: #fff;
	border: 2px solid #2d2a27;
}
.nm1{
	width: 217px;
	height: 43px;
	color: #fff;
	background: #191613;
	font-size: 12px;
	float: right;
	border: 2px solid #2d2a27;
}
.nm2{
	width: 455px;
	height: 43px;
	color: #fff;
	border: 2px solid #2d2a27;
	font-size: 12px;
	margin-top: 20px;
	background: #191613;


}
.nm3{
	width: 455px;
	height: 277px;
	color: #fff;
	/*opacity: 0.1;*/
	margin-top: 20px;
	line-height: 40px;
	border: 2px solid #2d2a27;


}


.fxk{
	width: 1200px;
	height: 53px;
	margin-top: 414px;
	line-height: 53px;
	text-align: center;
	font-size: 10px;
	font-family: Georgia;
	color: #4c433b

}




.fhsy{
	width: 50px;
	height: 50px;
	background: black;
	position: fixed;
	right: 50px;
	bottom: 50px;
	cursor: pointer;
	z-index: 1000000;
}
